@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Montserrat&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.vertical-Text {
    writing-mode: vertical-rl;
}

.all-child-even> :nth-child(2n) {
    position: relative;
    top: 50px;
}

@media screen and (min-width:1024px) {

    .all-child-even> :nth-child(2n) {
        top: 0px;
    }

    .all-child-even> :nth-child(3n-1) {
        position: relative;
        top: 50px;
    }
}